#metronome {
    background: #352F2B;
    margin: 2em;
    padding: 5em;
    position: relative;
    border-radius: 2em;
    text-align: center;
    border: 0.5em solid black;
}

#bpm {
    font-size: 2em;
    text-align: center;
    width: 50%;
    border-radius: 3em;
}

#plus {
    font-size: 2em;
    text-align: center;
    background-color: darkred;
    border-radius: 3em;
}

#minus {
    font-size: 2em;
    text-align: center;
    background-color: forestgreen;
    border-radius: 3em;
}

#start {
    margin: 0.5em;
    font-size: 1.5em;
    paddinge 0.5em;
    text-align: center;
    background-color: forestgreen;
    border-radius: 3em;
}

#visual-bar {
    width: 50%;
    height: 2%;
    border: 1em white;
    background-color: white;
    text-align: center;
}

.bpm-change {
    font-size: 1.5em;
}

